server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/TomatoMall?characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: 
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
          enabled: true
          max-file-size: 10MB
          max-request-size: 10MB


logging:
  level:
    org.springframework.security: DEBUG

aliyun:
  oss:
    endpoint: 
    accessKeyId: 
    accessKeySecret: 
    bucketName: 

alipay:
  appId: 
  notifyUrl: 
  returnUrl: http://localhost:5173/#/carts
  serverUrl: https://openapi-sandbox.dl.alipaydev.com/gateway.do
  signType: RSA2
  charset: utf-8
  merchant-private-key: 
  alipay-public-key: 
