
@font-face {
    font-family: "阿里妈妈刀隶体 Regular";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/401Nvupxd5Ep/wxugKTnLJjgm.woff2") format("woff2"),
url("//at.alicdn.com/wf/webfont/401Nvupxd5Ep/P35PgigK2ZMS.woff") format("woff");
    font-display: swap;
}